p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  /* This style below will be inherited */
  font-family: Roboto;
  margin: 0;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(229, 228, 226);
}
