* {
margin: 0;
padding: 0;
box-sizing: border-box;
}    

    
    
html {
    background: rgb(229, 228, 226);
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
 
body {
    width: 100%;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

 

.card-1 {
  width: 100%;
  height: auto;
  margin-top: 30px;
  background: rgb(223, 225, 235);
  overflow: hidden;
  border-radius: 20px;
  box-shadow:
    inset 0px 56px 40px #2224,
    inset 0px -56px 40px #fff,
    1px 1px 2px #fff,
    -1px -1px 2px #4442;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300%;
  height: 100%;
  transform: translateX(0%);
  animation: anim 6s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.word {
  width: 50%;
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 9px 8px 3px #4443;
}

@keyframes anim {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-33.33%);
  }
  70% {
    transform: translateX(-33.33%);
  }
  80% {
    transform: translateX(-66.66%);
  }
  100% {
    transform: translateX(-66.66%);
  }
}







  
 



  

        
        
.card {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  position: relative;
  padding: 9px;
  margin-top: 50px;
  margin-bottom: 50px;  
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(var(--bg) 0.0000001%, var(--grey) 0.000104%) 60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: var(--contrast);
  border-radius: 30px;
  /* Content style */
  font-size: 20px;
  font-weight: 900;
  color: #000000;
  text-align: center;
  font-family: monospace;
}
 


  
footer {
   float: right;
   margin-bottom: 20px;
   margin-top: 150px;   
}
