* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html, body {
    background: rgb(229,228,226);
    color: #000000;
    font-family:'Open Sans', sans-serif;
    font-size: 17px;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

 header {
  
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  position: relative;
  margin-bottom: 20px;
  border-image-slice: 1 1 1 1;
  border-image-width: 0.25rem;
  min-height: 200px;
  height: 20vh;
  border: 5px solid;
  border-radius: 15px;
  background-origin: border-box;
  background-clip: content-box ,border-box;
  align-items: center;
  text-align: center;
 
     &.fill {
   border-image-slice: 1 1 1 1 fill;
    }
 } 






h1 {
      font-size: 30px;
      font-weight: bold;
      background: linear-gradient(to right, red, orange);
      background-clip: text;
     -webkit-background-clip: text;
      color: transparent;
      
}



 
  

         
         



    


footer {
   margin-top: 100px;
   margin-bottom: 5px;
   float: right;
}
